{% load static %}
<section class="section">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h3 class="color-pink"><a href="blog-category-01.html" title="">{{bottom_main_second.category}}</a></h3>
                </div><!-- end title -->
                <div class="row">
                    {% for new in left_news %}
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="blog-box">
                            <div class="post-media">
                                <a href="{% url "news:newsdetail" new.id %}" title="">
                                    <img src="{{new.image.url}}" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="{% url "news:newsdetail" new.id %}" title="">{{new.title}}</a></h4>
                                <small><a href="blog-category-01.html" title="">{{new.category}}</a></small>
                                <small><a href="blog-category-01.html" title="">{{new.date_created}}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->
                        
                        
                    </div><!-- end col -->
                    {% endfor %}

                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis1">

        {% comment %} <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="banner-spot clearfix">
                    <div class="banner-img">
                        <img src="{{bottom_left_first.image.url}}" alt="" class="img-fluid">
                    </div><!-- end banner-img -->
                </div><!-- end banner -->
            </div><!-- end col -->
        </div><!-- end row --> {% endcomment %}

        
</section>