{% extends "base/index.html" %}
{% load static %}
{% block content %}
            <div class="form-container">
                <h2>Publish Your News</h2>
                    <form method="POST" action="" class="publish-form-class" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-field">
                            <label for="{{ form.author.id_for_label }}" class="form-label">Author:</label>
                            {{ form.author }}
                        </div>
                        <div class="form-field">
                            <label for="{{ form.title.id_for_label }}" class="form-label">Title:</label>
                            {{ form.title }}
                        </div>
                        <div class="form-field">
                            <label for="{{ form.description.id_for_label }}" class="form-label">Description:</label>
                            {{ form.description }}
                        </div>
                        <div class="form-field">
                            <label for="{{ form.video.id_for_label }}" class="form-label">Video:</label>
                            {{ form.video }}
                        </div>
                        <div class="form-field">
                            <label for="{{ form.image.id_for_label }}" class="form-label">Image:</label>
                            {{ form.image }}
                        </div>
                        <div class="form-field">
                            <label for="{{ form.source.id_for_label }}" class="form-label">Source:</label>
                            {{ form.source }}
                        </div>
                        <div class="form-field">
                            <label for="{{ form.category.id_for_label }}" class="form-label">Category:</label>
                            {{ form.category }}
                        </div>
                        <div class="form-field">
                            <label for="{{ form.promotion.id_for_label }}" class="form-label">Promotion:</label>
                            {{ form.promotion }}
                        </div>
                        <button type="submit" class="form-submit">Publish your news</button>
                    </form>
                    </div>
                </div>

{% block sidebarcontent %}{% endblock sidebarcontent %}
{% endblock content %}
    
    
    
